In [13]:
import numpy as np
import pylab as plt
import scipy.stats
import pandas as pd
import seaborn as sns

from sklearn import preprocessing
from astroML.utils import split_samples

In [5]:
np.random.seed(42)

In [6]:
input_file_path = '/Users/giulia/coding/astrostat/astrostatistics_bicocca_2024/solutions/galaxyquasar.csv'

data = pd.read_csv(input_file_path)
data

,u,g,r,i,z,class,z1,zerr
0,18.97213,18.53676,18.58280,18.34936,18.29215,QSO,0.522819,0.000155
1,19.24592,17.47646,16.47817,16.04472,15.68851,GALAXY,0.122846,0.000028
2,19.43536,17.70268,16.91565,16.58327,16.39128,GALAXY,0.000000,0.000000
3,19.31626,18.18312,17.39591,16.94549,16.65395,GALAXY,0.147435,0.000009
4,19.28828,19.11188,18.88937,18.80013,18.49183,QSO,2.011455,0.000631
...,...,...,...,...,...,...,...,...
49995,19.37295,18.12382,17.39886,16.98503,16.70585,GALAXY,0.113016,0.000011
49996,18.52021,16.88262,16.03280,15.56884,15.22454,GALAXY,0.085063,0.000014
49997,18.62718,17.30876,16.87371,16.62399,16.42296,GALAXY,0.054429,0.000008
49998,19.55140,18.27711,17.62101,17.21947,17.03347,GALAXY,0.112571,0.000009
49999,18.80772,17.75751,17.40500,17.21650,17.12295,GALAXY,0.043652,0.000007

In [15]:
u_g = data['u'] - data['g']
g_r = data['g'] - data['r']
r_i = data['r'] - data['i']
i_z = data['i'] - data['z']

X0 = np.array([u_g,g_r,r_i,i_z]).T

In [16]:
class_to_number = {"GALAXY": 0, "QSO": 1}  # mapping
labels = np.array([class_to_number[cl] for cl in data['class']]) # convert the string array to an array of 0/1

y=labels

Scale the data

In [17]:
X = preprocessing.scale(X0)

Divide in train and test set

In [18]:
(X_train, X_test), (y_train, y_test) = split_samples(X, y, [0.75, 0.25], random_state=0)